@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: radial-gradient(circle, #ffd1dc 0%, #fff 100%);
  font-family: sans-serif;
  text-align: center;
}

button {
  border: 2px solid black;
  background: white;
  padding: 0.5rem 1rem;
  border-radius: 20px;
  margin: 0.5rem;
  cursor: pointer;
}
